@model Category

@{
    ViewBag.Title = "Delete Confirmation";
}

<h2>Delete Confirmation</h2>

<p>Are you sure you want to delete the following Category?</p>
@* asp-route-id="@Model.ProductId" *@
<form method="post" asp-action="DeleteConfirm" asp-route-id="@Model.CategoryId">
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Category Name:</label>
        <div class="col-sm-8">
            <p>@Model.CategoryName</p> <!-- Display employee name -->
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </div>
    </div>
</form>
<div class="row mb-3">
    <div class="col-12 text-center">
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    </div>
</div>

